/* Properties for the title on the home page */
#plain-title {
    color: #fff;
    font-size: 6em;
    font-weight: bold;
    font-family: 'Corben', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    white-space:pre-line;
    margin-right: 40px;
}

.title h1,
.title div{
    display: inline-block;
}

.title{
    margin-top: 30px;
}

#title-graph{
    margin-left: 25px;
}

/* Add a shadow for the selected headers */
h1{
    text-shadow: 1px 1px 1px #ccc;
}

.alert{
    margin-top: 20px;
    display: inline-block;
}

.table-forum{
    table-layout: fixed;
}

.table-forum td{
    overflow: hidden;
    width: 100px;
}

.table-forum td+td{
    overflow: hidden;
    width: auto;
}

@media (max-width: 1275px) {
    .title h1,
    .title div{
        display: block;
    }

    #title-graph{
        margin-left: 0px;
    }
}

@media (max-width: 1249px) {
    .title h1,
    .title div{
        display: block;
    }
}

@media (max-width: 1125px) {
    #plain-title{
        padding-top: 20px;
        font-size: 4em;
    }
}

@media (max-width: 635px) {
    .alert{
        margin-right: 30px;
    }
}

@media (max-width: 500px) {
    #plain-title{
        font-size: 4em;
    }
}