/**{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: pink;
}*/

/* Change background color of the body */
body{
    background: #E9DEC3;; 
}

/* Setting the width of the side panel */
.side-nav{
    width: 240px;
}

/* Add a margin to the sub menu options of the side menu */
.side-nav ul{
    margin-left: 10px;
}

/* Add padding at the right of the top menu bar and align the section of the top bar to the right */
.navbar-right > ul{
    position: absolute;
    right: 0;
}

/* Add padding between menu options of the top bar */
.nav.navbar-nav a {
    padding-left: 10px;
    padding-right: 10px;
}

/* Change font for the site */
p, div, h1, h2, h3, h4, h5, h6{
    font-family: 'Corben', Helvetica, Arial, sans-serif;
}
