.main-page
{
background: #F5DEB3; 
color:black;
}

.navbar
{
background: black; 
color:pink;
}

.table-bordered{
border-color:black;
border-style:solid;
}

.table-bordered thead tr th{
border-color:black;
border-style:solid;
}

.table-bordered tbody tr td{
border-color:black;
border-style:solid;
}

.nav-second-level
{
white-space: nowrap;
}

.main-panel{   
padding-left: 50px;    
}