/* Removing padding for specified columns (parent of the image) */
.col-xs-12,
.col-sm-9{
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: auto;
}

/* Remove margin for the row divs */
.row{
    margin-left:0px;
    margin-right:0px;
    display:inline-block;
    z-index: 2;
}

/* Have row-offcanvas take the full width of the container */
.row-offcanvas{
    width: 100%;
    display:inline-block;
}

/* Remove padding of the sidebar convas */
.sidebar-offcanvas{
    padding-left: 0px;
    padding-right: 0px;
/*    display:inline-block;*/
    width: auto;
}

/* Remove margin for the panel div */
.panel{
    margin-right: 0px;
    margin-bottom: 0px;
}

/* Removing padding for the objects */
.panel-body,
.col-md-6{
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 600px) { 

    /* Toggle button */
    .visible-lg, .visible-md, .visible-sm, .visible-xs{
        display:block !important;
        float: right;
        margin-top: -18px;
    }
    
    .row-offcanvas{
        width: auto;
    }

    /* Set width of the panel */
    .panel{
        display:inline-block;
        width: 400px;
    }

    /* Resize the image according to the width of the panel */
    .main-image{
        width: 100%;
        height: auto;
    }
}
@media (min-width: 601px) { 
    /* Toggle button */
    .visible-lg, .visible-md, .visible-sm, .visible-xs{
        display:none !important;
    }

    /* Set width of the panel */
    .panel{
        display:inline-block;
        width: 400px;
    }

    /* Resize the image according to the width of the panel */
    .main-image{
        width: 100%;
        height: auto;
    }
}
@media (min-width: 768px) {    
    /* Set width of the panel */
    .panel{
        display:inline-block;
        width: 460px;
    }

    /* Resize the image according to the width of the panel */
    .main-image{
        width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {    

    /* Set width of the panel */
    .panel{
        display:inline-block;
        width: 668px;
    }

    /* Resize the image according to the width of the panel */
    .main-image{
        width: 100%;
        height: auto;
    }


    .panel-body.row,
    .col-md-6{
        width: 100%;
    }
}