
/* Visual settings to the orders section */
.orders{
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    margin: 10px auto;
    position: relative;
    vertical-align: top;
}

/* Visual settings to the inner order section */
.orders-inner{
    display: inline-block;
    background: #C3AF8D;
    border-width: 2px 2px 2px 2px;
    border-color: #8C3A2E;
    border-style: solid;
}

.country{
    display:inline-block;
    vertical-align: top;
    padding-left: 0px;
    margin: 10px;
    text-align: left;
}

/* Add margin to name of each nationality */
.country h4{
    margin-left: 15px;
}

/* Add allies tank picture as bullet list icon for armies */
#allies > .army{
    list-style-image: url('../images/Tank_Blue.png');
}

/* Add allies fleet picture as bullet list icon for fleets */
#allies > .fleet{
    list-style-image: url('../images/Fleet_Blue.png');
}

/* Add axis tank picture as bullet list icon for armies */
#axis > .army{
    list-style-image: url('../images/Tank_Red.png');
}

/* Add axis fleet picture as bullet list icon for fleets */
#axis > .fleet{
    list-style-image: url('../images/Fleet_Red.png');
}

/* Remove spacing between elements for orders */
#table-orders{
/*    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px 1px 1px 1px;
    border-style: solid;*/
    /*    padding: 10px 10px 10px 10px;*/
    display:block;
}
#table-orders td{
    padding-bottom: 5px;
    display: inline-block;
}

.type-army img{
    margin-left: 5px;
    margin-right: 10px;
}

.army-order select{
    margin-left: 5px;
    margin-right: 5px;
}

.second-army-text{
    padding-right: 30px;
}

.orders-validated{
    padding-left: 30px;
}

.region{
    width: 40px;
}

.table-responsive {
    border-width: 0px;
}

.invalid{
    text-decoration: line-through;
    font-weight: bold;
}

@media (max-width: 380px)
{
    .orders-validated{
        padding-left: 5px;
    }
    .second-army-text{
        padding-right: 5px;
    }
}

@media (max-width: 330px)
{
    .orders-validated{
        padding-left: 4px;
    }
    .second-army-text{
        padding-right: 0px;
    }
}